body {
  background-color: #dae1e7;
  text-align: center;
}

.main-body {
  background-color: #00909e;
}

.heading{
  color: #dae1e7;
  background-color: #142850;
  padding: 10px;
}

.heading a{
  color: #dae1e7;
  font-size: 3rem;
  margin: auto;
}

.explanation {
  color: #27496d;
  background-color: #dae1e7;
  padding: 10px;
  max-width: 800px;
  margin: auto;
}

.explanation-heading {
  color: #142850;
}

.ui-wrapper {
  background-color: #dae1e7;
  padding: 10px;
  max-width: 500px;
  margin: auto;
}

.link-panel {
  color: #dae1e7;
  background-color: #27496d;
  padding: 10px;
  text-align: left;
}

.panel-heading{
  margin-top: 0px;
}

.submit-form {
  color: #27496d;
  background-color: #dae1e7;
  padding: 10px;
}

.save-button {
  color: #dae1e7;
  background-color: #27496d;
  text-align: left;
}

.messageBox {
  color: #dae1e7;
  background-color: #27496d;
  padding: 10px;
  max-width: 500px;
  margin: auto;
}

footer {
  color: #27496d;
  background-color: #142850;
  padding: 10px;
}
